@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex">
    <div class=" h-screen w-100 d-flex justify-content-center flex-column">
        <div style="font-size: 60px" class="text-pink">Welcome</div>
        <div style="font-size: 60px" class="text-pink">to</div>
        <div style="font-size: 60px" class="text-pink">Pet Get!</div>
@*         <div style="font-size: 60px" class="text-pink">Get!</div>
 *@    </div>
    <img src="images/fffff-min.jpg" class="h-screen"/>
</div>